.Main-screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1% 1.5%;
}
.Main-content {
  height: 78vh;
  width: 98vw;
  overflow: auto;
}
.Add-button {
  padding: 1.5%;
}
