 a.nostyle:link {
     text-decoration: none;
     color: white;
     background-color: inherit;
}
 a.nostyle:visited {
     text-decoration: none;
     color: white;
     background-color: inherit;
}
 a.nostyle:hover {
     text-decoration: none;
     color: white;
     background-color: blue;
}
 .App {
     text-align: center;
     overflow: hidden;
}
 .App-logo {
     animation: App-logo-spin infinite 20s linear;
     height: 40vmin;
}
 .App-header {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     padding: 0 1.5%;
     color: white;
}
 .Toolbar-header {
     width: 100%;
     padding: 1%;
     display: flex;
     justify-content: space-between;
     box-sizing: border-box;
}
 .App-link {
     color: #61dafb;
}
 @keyframes App-logo-spin {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(360deg);
    }
}

